.cartao ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 60px auto;

}

.card {
    display: block;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
}

.card:nth-child(1){
    background-color: #f25f5c;
}

.card:nth-child(2){
    background-color: #ffe066;
}

.card:nth-child(3){
    background-color: #247ba0;
}

.card .numero-card {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

@media (max-width: 1000px) {
    .card:nth-child(3){
        display: none;
    }
}

@media (max-width: 700px){
    .cartao ul {
        display: none;
    }
}