.form-receita-despesa {
    margin-top: 60px;
    margin-bottom: 60px;
}

.form {
    background-color: #000000;
    padding: 2rem;
    color: #c7c7c7;
    border-radius: 10px;
    margin-bottom: 30px;
}

.form h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #f7f7f7;
}

.form .col-1 {
    margin-bottom: 30px;
}

.form select {
    margin-bottom: 30px;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.form-item label {
    display: block;
    margin-bottom: 10px;
}

.form-item input {
    margin-bottom: 30px;
}

.form-item input[type="text"],
.form-item input[type="date"],
.form-item input[type="number"] {
    background-color: #f7f7f7;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; 
    border: none;
    outline: none;
}

.form-item textarea {
    width: 100%;
    margin-bottom: 30px;
}

.form .btn {
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 1rem;
    color: #f7f7f7;
    background-color: #007ea7;
    border: none;
}

@media (max-width: 1000px){
    .form-item {
        grid-template-columns: 1fr;
    }
}
